[submodule "raha-frontend"]
	path = raha-frontend
	url = https://github.com/Meenu-S-28/RAHA-frontend.git
[submodule "RAHA-backend"]
	path = RAHA-backend
	url = https://github.com/Meenu-S-28/RAHA-backend.git
